name: Test
on:
  pull_request:
jobs:
  test-pr-review:
    name: runner / shfmt
    runs-on: ubuntu-latest
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: ./
        continue-on-error: true
        with:
          filter_mode: file
          reviewdog_flags: -fail-on-error
      - name: check the exit code
        if: ${{ !success() }}
        run: echo 'The previous step should fail' && exit 1
